{% sw_extends "@Storefront/storefront/page/product-detail/index.html.twig" %}
{% block page_product_detail %}
    {{ parent() }}

    {% set recentlyViewedOptions = {
        product: page.product.id,
        csrfToken: sw_csrf("flagbit.recentlyviewed.widget", {"mode": "token"})
    } %}

    {% block flagbit_recently_viewed_products %}
        <template data-recently-viewed-plugin
                  data-recently-viewed-plugin-options="{{ recentlyViewedOptions|json_encode }}"
                  data-from-text="{{ "listing.listingTextFrom"|trans|sw_sanitize }}"
        ></template>
        {# recently-viewed-plugin binds slider to #flagbit-recently-viewed-products-container #}
        <div id="flagbit-recently-viewed-products-container"></div>
    {% endblock %}
{% endblock %}
